*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: auto;
  width: 80%;
  height:  100%;
  background-color: green;
}

header{
  height: 100px;
  background-color: pink;
  margin-bottom: 20px;
}

.banner{
  height: 500px;
  background-color: yellow;
  margin-bottom: 20px;
}

section{
  background-color: blue;

}

.section-row{
  height: 80px;
  background-color: lightblue;
  margin-bottom: 1%;
}

.columns{
  height: 600px;
}

.left-column, .right-column{
  width: 25%;
  height: 100%;
  background-color: lightblue;
  float: left;

}

.mid-column{
  width: 48%;
  height: 100%;
  background-color: lightblue;
  float: left;
  margin: 0 1%;

}
